@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    zoom: 150%;

}
#container{
    overflow-x: hidden;
}

#titolo {
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    padding: 70px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}
#row2{
    margin: auto;
    justify-content: center;
    text-align: center;
    
}

form{
    text-align: center;
    justify-content: center;
}

#in_ad{
    max-width: 45px;
}
#in_ch{
    max-width: 45px;
}
#results{
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#p_f{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 13px;


}
#p_f2{
    color: white;
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;

}


#footer{
    background-color: #ff4d4d;

}

